<form action="/tinder/card" method="POST">
    <input type="text" name="name" placeholder="Enter name" />
    <input type="text" name="url" placeholder="Enter img url" />
    <input type="submit" name="" id="">
</form>